@use "global" as *;

.l-inner {
  width: min($inner-width + $padding-pc * 2, 100%);
  padding-inline: rem(strip-unit($padding-pc));
  margin-inline: auto;

  @include mq(md) {
    padding-inline: rem(strip-unit($padding-sp));
  }
}
